html {
  background: linear-gradient(90deg, #CECFFF, #0B1692 9%, #0B1692 91%, #CECFFF);
}
body {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  font-family: georgia;
  padding: 0px;
}
#dots span {
  color: #8BD1F2;
}
#left, #right {
  padding-top: 1em;
  padding-bottom: 1em;
}
#picture {
  width: 750px;
  height: 550px;
  border: 1px solid black;
}
#pause {
  cursor: pointer;
  width: 5%;
  vertical-align: text-top;
  font-size: 1.5em;
}
#below {
  text-align: center;
}
#dots, input, label {
  padding: 0px;
}
.iframeDiv {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
input[type=radio] {
  opacity: 0;
}
label {
  font-size: 3em;
}
input[type=radio]:not(:checked) + label {
  color: #8BD1F2;
}
input[type=radio]:checked + label {
  color: #4991B3;
}
#picture img {
  max-width: 100%;
  max-height: 100%;
}
#caption {
  text-align: center;
}
.hdr {
  width: 80%;
  position: absolute;
}
.hdr, .hdr th, .hdr td {
  //border: 1px solid red;
  border-collapse: collapse;
}
.hdr tr {
  background-color: #0B1692;
  color: white;
}
.pageName {
  border: 2px solid black;
  border-bottom: none;
}
.links td, .dropRow td {
  text-align: center;
  font-size: 1.5em
}
.linked, #drop {
  border: 2px solid black;
  border-bottom: 0px;
}
#drop {
  font-size: 3em;
  color: white;
  cursor: pointer;
}
.linked:hover, #drop:hover {
  background-color: #14489B;
}
.link a {
  display: block;
  color: white;
  text-decoration: none;
}
.dropRow {
  display: none;
  width: 100%;
}
.drops td {
  background-color: transparent;
}
.drops a {
  background-color: transparent;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.drops a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drops a:hover {
  background: #e8e8e8;
}
.drops {
position: static;
z: 1;
}
img {
  max-width: 100%;
  max-height: 100%;
  image-orientation: from-image;
}
@media only screen and (max-width: 1365px) {
  body {width: 80%; margin-left: 10%;}
  .hdr {width: 80%;}
  html {background: linear-gradient(90deg, #CECFFF, #0B1692 9%, #0B1692 91%, #CECFFF);}
}
@media only screen and (max-width: 1170px) {
  body {width: 85%; margin-left: 7.5%;}
  .hdr {width: 85%;}
  html {background: linear-gradient(90deg, #CECFFF, #0B1692 7%, #0B1692 93%, #CECFFF);}
}
@media only screen and (max-width: 1100px) {
  body {width: 90%; margin-left: 5%;}
  .hdr {width: 90%;}
  html {background: linear-gradient(90deg, #CECFFF, #0B1692 4.5%, #0B1692 95.5%, #CECFFF);}
}
@media only screen and (max-width: 970px) {
  body {width: 95%; margin-left: 2.5%;}
  .hdr {width: 95%;}
  html {background: linear-gradient(90deg, #CECFFF, #0B1692 2%, #0B1692 98%, #CECFFF);}
}
@media only screen and (max-width: 825px) {
  body {width: 100%; margin-left: 0%;}
  .hdr {width: 100%;}
  .links {display: none;}
  .dropRow {display: table-row;}
  html {background: #0B1692;}
}
